*{
    box-sizing : border-box;
    padding : 0;
    margin : 0;
    scroll-behaviour : smoooth
}
body{
    background : var(--color-bg)/*css variable for a background*/
}
a{
    color : unset;
    text-decoration : none;
}